@import "sub/module.css"; /* valid */
@import url("/css/sub-module2.css"); /* also valid */
body {
    margin:0;
    padding:0;
    background:#59aef0 url("/images/sky.jpg") no-repeat;
}  
 
#content {
    padding:20px 60px;
}
p, li {
    font-family:serif, Arial;
}