MANIFEST
dist/*
.venv
*.pyc
*~
media/css/styles.*.css
media/images/sky.*.jpg
media/images/peterbe.*.jpg
media/javascript/script.*.js
media/javascript/jquery-1.3.2.min.*.js
media/javascript/canbe_combined.min.*.js
media/images/icon1.*.png
media/images/icon2.*.png
media/images/icon1_icon2.*.png
media/images/icon3.*.png
media/javascript/shit_code.*.js
media/css/reset_styles.*.css
media/css/reset.*.css
coverage_report/fcgi_settings.py
kill_fcgi.sh
run_fcgi.sh
coverage_report/
fcgi_settings.py
media/css/sub/module.*.css
media/css/sub-module2.*.css
